// Category section
.post-heading {
    margin: 40px 0;
    text-align: center;

    a {
        color: black;
        font-weight: bold;
        text-decoration: none;
        font-size: 22px;
        font-family: $oswald;
        border-right: 1px solid;
        border-bottom: 1px solid;
        padding: 0 7px 7px 0;
        border-color: lightgray;
        transition: 0.3s ease-in-out;

        &:hover {
            color: $themecolor;
            border-color: $themecolor;
        }
    }
}

.category-name {
    text-align: center;
    margin: 10px 0;

    a {
        color: black;
        font-size: 18px;
        font-weight: bold;
        transition: 0.3s ease-in-out;
        text-decoration: none;

        &:hover {
            color: $themecolor;
        }
    }
}

.category-block {
    display: inline-block;
    padding: 0 10px;
}

.category-posts-wrapper {
    display: flex;
}

.category-img-holder {
    img {
        width: 100%;
        height: auto;
    }

    &:hover img {
        box-shadow: 0px 0px 6px 4px lightgray !important;
    }
}

.category-block {
    &:hover {
        .category-name {
            a {
                color: $themecolor;
            }
        }
    }
}







.category-img-holder {
    position: relative;

    &:hover {

        .inner-block:before,
        .slider-top-right:after {
            height: 100%;
        }

        .inner-block:after,
        .slider-top-right:before {
            width: 100%;
        }
    }

    img {
        display: block;
        max-width: 100%;
    }
}

.block-content {
    position: absolute;
    bottom: 10%;
    left: 10%;
    padding: 0 1rem;
}

.slider-top-right:before,
.inner-block:after {
    height: 4px;
    transition: width .75s ease;
    width: 0%;
}

.slider-top-right:after,
.inner-block:before {
    height: 0%;
    transition: height .75s ease;
    width: 4px;
}

.inner-block:before,
.inner-block:after,
.slider-top-right:before,
.slider-top-right:after {
    background-color: #fff;
    content: '';
    display: block;
    position: absolute;
}

.inner-block {
    font-size: 2em;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    &:before {
        bottom: 0;
        left: 0;
    }

    &:after {
        bottom: 0;
        right: 0;
    }
}

.slider-top-right {
    position: relative;
    width: 100%;
    height: 100%;

    &:before {
        top: 0;
        left: 0;
    }

    &:after {
        top: 0;
        right: 0;
    }
}

// blog area
.gum_cat_filter_list {
    display: inline-block;
    float: right;
}

.heading {
    display: inline-block;

    h2 {
        color: $themecolor;
        font-size: 18px;
        font-weight: bold;
        font-family: $oswald;
    }
}

.list-style-filter {
    li {
        display: inline-block;
        margin: 0 10px;

        a {
            color: gray;
            text-decoration: none;
            font-size: 12px;
            font-weight: bold;
            transition: 3s ease-in-out;
            font-family: $oswald;
            padding: 0 5px 5px 0;
            letter-spacing: 1px;

            &:hover {
                color: $themecolor;
                border-right: 1px solid;
                border-bottom: 2px solid;
                border-color: $themecolor;
            }
        }
    }
}

.heading-tabs-wrapper {
    margin: 40px 0;
    border-right: 1px solid;
    border-bottom: 2px solid;
    border-color: lightgray;
    padding: 0 8px 8px 0;
}

.img-holder {
    position: relative;
}

.cate-list {
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    text-align: center;

    ul {
        li {
            display: inline-block;

            a {
                color: white;
                background-color: black;
                padding: 3px 15px;
                text-decoration: none;
                transition: 0.3s ease-in-out;
            }
        }
    }
}

.box-style-3 {
    margin-top: 25px;
}

.post-content {
    background-color: #f0f0f0;
    padding: 15px 15px;
    transition: 0.3s ease-in-out;

    h4 {
        font-size: 18px;
        color: black;
        font-weight: bold;
        margin: 10px 0;
    }

    .post-meta-content {
        text-align: center;

        ul {
            display: inline-block;
        }

        li {
            color: gray;
            font-size: 10px;

            a {
                color: black;
                font-size: 10px;

                span {
                    color: black;
                    font-size: 10px;
                }
            }
        }
    }
}

.btn-holder {
    margin-top: 20px;

    a {
        color: white;
        background-color: black;
        padding: 10px 15px;
        text-decoration: none;
        font-size: 12px;
        transition: 0.3s ease-in-out;
    }
}

.style3-wrapper {
    .category-img-holder {
        &:hover img {
            box-shadow: 0px 0px 0px 0px white;
        }
    }

    position: relative;

    &:hover {

        .cate-list ul li a {
            color: black;
            background-color: white;
        }

        .post-content {
            background-color: black;

            h4 {
                color: white;
            }

            .post-meta-content li a {
                color: white;
                font-size: 10px;

                span {
                    color: white;
                }
            }
        }

        .post-content .post-meta-content li {
            color: white;
            font-size: 10px;
        }

        .btn-holder a {
            color: black;
            background-color: white;
            font-weight: bold;
        }






        .inner-block:before,
        .slider-top-right:after {
            height: 100%;
        }

        .inner-block:after,
        .slider-top-right:before {
            width: 100%;
        }
    }

    img {
        display: block;
        max-width: 100%;
    }
}

.block-content {
    position: absolute;
    bottom: 10%;
    left: 10%;
    padding: 0 1rem;
}

.slider-top-right:before,
.inner-block:after {
    height: 4px;
    transition: width .75s ease;
    width: 0%;
}

.slider-top-right:after,
.inner-block:before {
    height: 0%;
    transition: height .75s ease;
    width: 4px;
}

.inner-block:before,
.inner-block:after,
.slider-top-right:before,
.slider-top-right:after {
    background-color: #fff;
    content: '';
    display: block;
    position: absolute;
}

.inner-block {
    font-size: 2em;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    &:before {
        bottom: 0;
        left: 0;
    }

    &:after {
        bottom: 0;
        right: 0;
    }
}

.slider-top-right {
    position: relative;
    width: 100%;
    height: 100%;

    &:before {
        top: 0;
        left: 0;
    }

    &:after {
        top: 0;
        right: 0;
    }

    // &:hover{

    // }
}


// rating stars

#full-stars-example-two {
    display: inline-block;

    /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
    .rating-group {
        display: inline-flex;
    }

    /* make hover effect work properly in IE */
    .rating__icon {
        pointer-events: none;
    }

    /* hide radio inputs */
    .rating__input {
        position: absolute !important;
        left: -9999px !important;
    }

    /* hide 'none' input from screenreaders */
    .rating__input--none {
        display: none
    }

    /* set icon padding and size */
    .rating__label {
        cursor: pointer;
        padding: 0 0.1em;
        font-size: 12px;
    }

    /* set default star color */
    .rating__icon--star {
        color: $themecolor;
    }

    /* if any input is checked, make its following siblings grey */
    .rating__input:checked~.rating__label .rating__icon--star {
        color: #ddd;
    }

    /* make all stars theme color on rating group hover */
    .rating-group:hover .rating__label .rating__icon--star {
        color: $themecolor;
    }

    /* make hovered input's following siblings grey on hover */
    .rating__input:hover~.rating__label .rating__icon--star {
        color: #ddd;
    }
}

#full-stars-example {
    display: inline-block;

    /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
    .rating-group {
        display: inline-flex;
    }

    /* make hover effect work properly in IE */
    .rating__icon {
        pointer-events: none;
    }

    /* hide radio inputs */
    .rating__input {
        position: absolute !important;
        left: -9999px !important;
    }

    /* set icon padding and size */
    .rating__label {
        cursor: pointer;
        padding: 0 0.1em;
        font-size: 12px;
    }

    /* set default star color */
    .rating__icon--star {
        color: $themecolor;
    }

    /* set color of none icon when unchecked */
    .rating__icon--none {
        color: #eee;
    }

    /* if none icon is checked, make it red */
    .rating__input--none:checked+.rating__label .rating__icon--none {
        color: $themecolor;
    }

    /* if any input is checked, make its following siblings grey */
    .rating__input:checked~.rating__label .rating__icon--star {
        color: #ddd;
    }

    /* make all stars orange on rating group hover */
    .rating-group:hover .rating__label .rating__icon--star {
        color: $themecolor;
    }

    /* make hovered input's following siblings grey on hover */
    .rating__input:hover~.rating__label .rating__icon--star {
        color: #ddd;
    }

    /* make none icon grey on rating group hover */
    .rating-group:hover .rating__input--none:not(:hover)+.rating__label .rating__icon--none {
        color: #eee;
    }

    /* make none icon red on hover */
    .rating__input--none:hover+.rating__label .rating__icon--none {
        color: red;
    }
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset,
label {
    margin: 0;
    padding: 0;
}



/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: left;
}

.rating>input {
    display: none;
}

.rating>label:before {
    margin: 0 5px;
    font-size: 12px;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating>.half:before {
    content: "\f089";
    position: absolute;
}

.rating>label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating>input:checked~label,
/* show gold star when clicked */
.rating:not(:checked)>label:hover,
/* hover current star */
.rating:not(:checked)>label:hover~label {
    color: $themecolor;
}

/* hover previous stars in list */

.rating>input:checked+label:hover,
/* hover current star when changing rating */
.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,
/* lighten current selection */
.rating>input:checked~label:hover~label {
    color: $themecolor;
}

.stars-rate {
    line-height: 20px;
}




// rating stars end

.pagination {
    li {
        display: inline-block;
        margin: 0 10px;

        a {
            color: black;
            text-decoration: none;
            border-right: 1px solid lightgray;
            border-bottom: 1px solid lightgray;
            font-size: 20px;
            padding: 4px 10px 4px;
            transition: 0.3s ease-in-out;

            &:hover {
                background-color: black;
                color: white;
            }
        }
    }
}

.pagination-link {
    margin-top: 40px;
    text-align: center;
}

.pagination {
    display: inline-block;
}




// image and text area
.post-info {
    padding: 10px 20px 20px;
    transition: 0.3s ease-in-out;

    &:hover {
        background-color: #f0f0f0;
    }

    p {
        color: gray;
        font-size: 16px;
        text-align: justify;
        margin: 10px 0;
    }

    h4 {
        color: black;
        font-size: 20px;
        font-family: $oswald;
        margin-bottom: 10px;
        transition: 0.3s ease-in-out;

        &:hover {
            color: $themecolor;
        }
    }

    ul {
        display: inline-block;

        li {
            display: inline-block;
            margin: 0px 10px;

            a {
                color: black;
                font-size: 12px;
                text-decoration: none;
            }
        }

        .author {
            margin-left: 0 !important;
        }
    }

    .date {
        color: black;
        font-size: 12px;
    }

    .post-meta-content {
        display: inline-block;

        ul {
            li {
                color: black;
                margin: 0;
            }
        }
    }

    .post-meta-content ul li::after {
        content: '';
    }

    .btn-holder {
        display: inline-block;
        margin-right: 15px;

        a {
            transition: 0.3s ease-in-out;
            border: 1px solid black;

            &:hover {
                background-color: white;
                color: black;
            }
        }
    }
}

.rating-stars-wrapper {
    display: inline-block;

    ul {
        li {
            display: inline-block;
            margin: 0 2px;

            i {
                color: $themecolor;
                font-size: 12px;
            }
        }
    }
}

.media-text-wrapper {
    .category-img-holder {
        overflow: hidden;
    }

    &:hover {
        .post-info {
            background-color: #f0f0f0;
        }

        h4 {
            color: $themecolor;
        }

        .btn-holder {
            a {
                background-color: $themecolor;
                color: white;
                border-color: $themecolor;
            }
        }

        img {
            transform: scale(1.2);
        }

        .inner-block:before,
        .slider-top-right:after {
            height: 100%;
        }

        .inner-block:after,
        .slider-top-right:before {
            width: 100%;
        }
    }

    img {
        display: block;
        max-width: 100%;
    }
}

.block-content {
    position: absolute;
    bottom: 10%;
    left: 10%;
    padding: 0 1rem;
}

.slider-top-right:before,
.inner-block:after {
    height: 4px;
    transition: width .75s ease;
    width: 0%;
}

.slider-top-right:after,
.inner-block:before {
    height: 0%;
    transition: height .75s ease;
    width: 4px;
}

.inner-block:before,
.inner-block:after,
.slider-top-right:before,
.slider-top-right:after {
    background-color: #fff;
    content: '';
    display: block;
    position: absolute;
}

.inner-block {
    font-size: 2em;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    &:before {
        bottom: 0;
        left: 0;
    }

    &:after {
        bottom: 0;
        right: 0;
    }
}

.slider-top-right {
    position: relative;
    width: 100%;
    height: 100%;

    &:before {
        top: 0;
        left: 0;
    }

    &:after {
        top: 0;
        right: 0;
    }
}

.text-align-right {
    margin: 40px 0;

    .post-info {
        text-align: right;
    }
}

.load-more-wrapper {
    margin: 40px 0 10px;
    text-align: center;

    a {
        color: black;
        font-size: 14px;
        text-decoration: none;
        transition: 0.3s ease-in-out;
        font-weight: bold;

        i {
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            padding: 5px 12px 7px;
            margin-right: 11px;
            color: black;
        }

        &:hover {
            color: $themecolor;

            i {
                color: $themecolor;
                border-color: $themecolor;
            }
        }
    }
}


// overlay post area
.img-holder-text {
    position: relative;
    text-align: center;
    overflow: hidden;
    .rating-stars-wrapper ul li i {
        color: white;
    }
    .author{
        a{
            span{
                font-size: 10px;
                color: white;
            }
        }
    }

    img {
        width: 100%;
        height: auto;
    }

    .cate-list {
        left: 0;
        top: 0;
    }
    .post-meta-content{
        position: absolute;
        bottom: 0;
        padding-bottom: 20px;
        transition: ease;
        h4{
            font-size: 18px;
            font-weight: bold;
            font-family: $PlayfairDisplay;
            margin-bottom: 10px;
            padding: 0 35px;
        }
        ul{
            margin-bottom: 10px;
            display: inline-block;
            li{
                font-size: 10px;
                margin: 0;
                &::after{
                    content: '';
                }
            }
        }
    }
   
    .img-wraper{
        &::before{
            content: '';
            background: rgba(0, 0, 0, 0.4);
            height: 0;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: 0.5s ease;
        }
    }

    &:hover .img-wraper::before{
        opacity: 1;
        height: 100%;
    }
    &:hover .detail-wraper{
        opacity: 1;
        height: 100%;
    }
    &:hover {
        .category-list{
            ul{
                li{
                    a{
                        background-color: $themecolor;
                        color: white;
                    }
                }
            }
        }
    }
}//img-holder-text

.category-list {
    position: absolute;
    top: 15px;
    left: 15px;

    ul {
        li {
            a {
                font-size: 14px;
                color: black;
                background-color: white;
                border-color: black;
                padding: 4px 12px;
                font-weight: bold;
                text-decoration: none;
                transition: 0.3s ease-in-out;
            }
        }
    }
}
.btn-imgover{
    a{
        padding: 4px 5px;
        color: black;
        background-color: white;
        text-decoration: none;
        transition: 0.3s ease-in-out;
        font-size: 14px;
        &:hover{
            background-color: $themecolor;
            color: white;
        }
    }
}
.text-area{
    background-color: #f0f0f0;
}
.post-text-wrap{
    .post-info p {
        font-size: 14px;
    }
    .post-info .btn-holder {
        display: block;
        margin-bottom: 20px;
    }
    .post-info ul li {
        margin: 0px 6px;
        font-size: 12px;
    }
    .rating-stars-wrapper{
        i{
            color: $themecolor;
        }
    }
    .post-info{
        .cateory-btn{
            margin: 10px 0;
            li{
                a{
                    text-decoration: none;
                    color: white;
                    background-color: $themecolor;
                    font-size: 12px;
                    padding: 5px 10px;
                    transition: 0.3s ease-in-out;
                    &:hover{
                        background-color: #17959a;
                    }
                }
            }
        }
    }
}




// instagram section
.instagram-images{
    display: flex;
    position: relative;
}
.insta-wrapper{
    margin-top: 40px;
    position: relative;
}
.insta-follow-btn{
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 44%;
    a{
        i{
            margin-right: 6px;
        }
        color: black;
        background-color: white;
        text-decoration: none;
        padding: 12px 40px;
        font-size: 13px;
        transition: 0.3s ease-in-out;
        &:hover{
            background-color: $themecolor;
            color: white;
        }
    }
}



// footer section


.footer-area-wrapper{
    background-color: #262829;
    padding-top: 40px;
}
.footer-content{
    p{
        font-size: 15px;
        color: gray;
        margin-top: 20px;
    }
}
.navigation{
    h5{
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .navigation-content{
        margin-top: 24px;
        ul{
            margin-top: 40px;
            li{
                a{
                    font-size: 12px;
                    text-decoration: none;
                    color: gray;
    
                }
            }
        }
    }
    .navigation-link{
        display: flex;
        justify-content: space-between;
    }
}
.service-links{
    margin-right: 85px;
}
.footer-subscribe{
    margin-top: 24px;
    h5{
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;

    }
    p{
        color: gray;
        font-size: 15px;
        margin-top: 20px;
    }
}
.subscribe-input{
    margin-top: 30px;
}
input[type=submit]{
    background-color: $themecolor;
    border-radius: 20px;
    padding: 10px 20px;
    border: 0;
    font-size: 12px;
    color: black;
    font-weight: bold;
    border: 0;
    position: absolute;
    right: 20%;
    &:focus{
        border: 0;
        outline: 0;
    }
}
.search-field{
    background-color: lightgray;
    color: gray;
    padding: 10px 20px;
    border-radius:20px;
    font-size: 12px;
    border: 0;
    width: 70%;
    &:focus{
        border: 0;
        outline: 0;
        &::placeholder{
            color: transparent;

        }
    }
}
.copyright-section{
    border-top: 1px solid gray;
    padding: 25px 0;
    margin-top: 80px;
}
.copyright-content{
    display: flex;
    justify-content: space-between;
    p{
        color: gray;
        font-size: 15px;
    }
    ul{
        list-style: none;
        display: inline-block;
        li{
            display: inline-block;
            margin: 0 10px;
            a{
                font-size: 14px;
                text-decoration: none;
            }
        }
    }
    .fb-link{
        a{
            color: #2e4163;
        }
    }
    .twitter-link{
        a{
            color: #185c6a;
        }
    }
    .insta-link{
        a{
            color: #757063;
        }
    }
    .linked-link{
        a{
            color: #1f526d;
        }
    }
    .google-link{
        a{
            color: #902a27;
        }
    }
}
.img-about{
    text-align: center;
    img{
        border-radius: 50%;
    }
}
.about-wrapper{
    margin-top: 30px;
}
.about-info{
    margin-top: 30px;
    text-align: center;
    p{
        font-size: 12px;
        color: gray;
    }
    ul{
        margin: 30px 0;
        li{
            display: inline-block;
            margin: 0 4px;
            a{
                color: black;
                text-decoration: none;
                border-radius: 50%;
                padding: 8px 12px;
                background-color: #e7e7e7;
                font-size: 14px;
            }
        }
    }
}

