
$sectionmargin: 50px;
 $themecolor:#2fa4a9;

// google font
$PlayfairDisplay:'Playfair Display', serif;
$Montserrat:'Montserrat', sans-serif;
$oswald:'Oswald', sans-serif;

html,body{
    font-family:$Montserrat;
}




