@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
html, body {
  font-family: "Montserrat", sans-serif; }

img {
  max-width: 100%;
  height: auto;
  transition: 0.3s ease-in-out; }

ul, ol, p, h4, a {
  margin: 0;
  padding: 0;
  list-style: none; }

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0; }

.detail-wraper {
  height: 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s ease; }

html, body {
  height: 100%; }

#banner {
  height: 100%; }

.banner-img-wrapper {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.overlay-banner {
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: relative; }

.social-icons-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-between; }

.social-list {
  list-style: none; }
  .social-list:first-child {
    margin-left: 40px; }
  .social-list li {
    display: inline-block;
    margin: 0 10px; }
    .social-list li a {
      color: white;
      font-size: 15px;
      transition: 0.3s ease-in-out;
      text-decoration: none; }
      .social-list li a:hover {
        color: #2fa4a9; }

.search-icon-list {
  margin-right: 40px; }
  .search-icon-list li {
    display: inline-block; }
    .search-icon-list li a {
      color: white;
      font-size: 15px;
      transition: 0.3s ease-in-out;
      text-decoration: none; }
      .search-icon-list li a:hover {
        color: #2fa4a9; }

.banner-content-box {
  text-align: center;
  display: block;
  margin-top: 40px; }

.banner-content {
  display: inline-block;
  width: 50%; }

.category-wrapper a {
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 7px 0;
  text-decoration: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  transition: 0.3s ease-in-out; }
  .category-wrapper a:hover {
    color: #2fa4a9;
    border-color: #2fa4a9; }

.banner-heading {
  font-size: 50px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  color: white;
  margin: 20px 0;
  transition: 0.3s ease-in-out; }
  .banner-heading:hover {
    color: #2fa4a9; }

.banner-content p {
  color: white;
  font-size: 14px; }

.load-more {
  margin: 20px 0; }
  .load-more a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    transition: 0.3s ease-in-out; }
    .load-more a i {
      border-right: 1px solid white;
      border-bottom: 1px solid white;
      padding: 0 12px 7px;
      margin-right: 11px; }
    .load-more a:hover {
      color: #2fa4a9; }
      .load-more a:hover i {
        border-color: #2fa4a9; }

.post-meta-content {
  color: white; }
  .post-meta-content ul {
    list-style: none; }
    .post-meta-content ul li {
      display: inline-block;
      font-size: 12px; }
      .post-meta-content ul li::after {
        content: '.';
        margin: 0 8px; }
      .post-meta-content ul li a {
        text-decoration: none;
        color: white;
        font-size: 12px; }
        .post-meta-content ul li a span {
          color: #2fa4a9;
          font-weight: bold;
          font-size: 14px; }

.date {
  color: white; }

.gum-block-comment-count::after {
  content: '' !important; }

.logo {
  width: 25%;
  padding-left: 40px; }

.nav-links-wrapper {
  width: 50%;
  text-align: center; }
  .nav-links-wrapper .navbar-nav {
    list-style: none;
    display: inline-block; }
    .nav-links-wrapper .navbar-nav li {
      display: inline-block;
      margin: 0 18px; }
      .nav-links-wrapper .navbar-nav li a {
        color: white;
        text-decoration: none;
        font-size: 14px;
        transition: 0.3s ease-in-out; }
        .nav-links-wrapper .navbar-nav li a:hover {
          color: #2fa4a9; }

.more-icon {
  width: 25%;
  text-align: center;
  text-align: end;
  padding-right: 40px; }
  .more-icon a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s ease-in-out; }
    .more-icon a:hover {
      color: #2fa4a9; }

.navbar-wrapper {
  display: flex;
  align-items: center; }

.nav-bar {
  position: absolute;
  bottom: 0; }

.post-heading {
  margin: 40px 0;
  text-align: center; }
  .post-heading a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 22px;
    font-family: "Oswald", sans-serif;
    border-right: 1px solid;
    border-bottom: 1px solid;
    padding: 0 7px 7px 0;
    border-color: lightgray;
    transition: 0.3s ease-in-out; }
    .post-heading a:hover {
      color: #2fa4a9;
      border-color: #2fa4a9; }

.category-name {
  text-align: center;
  margin: 10px 0; }
  .category-name a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    text-decoration: none; }
    .category-name a:hover {
      color: #2fa4a9; }

.category-block {
  display: inline-block;
  padding: 0 10px; }

.category-posts-wrapper {
  display: flex; }

.category-img-holder img {
  width: 100%;
  height: auto; }

.category-img-holder:hover img {
  box-shadow: 0px 0px 6px 4px lightgray !important; }

.category-block:hover .category-name a {
  color: #2fa4a9; }

.category-img-holder {
  position: relative; }
  .category-img-holder:hover .inner-block:before,
  .category-img-holder:hover .slider-top-right:after {
    height: 100%; }
  .category-img-holder:hover .inner-block:after,
  .category-img-holder:hover .slider-top-right:before {
    width: 100%; }
  .category-img-holder img {
    display: block;
    max-width: 100%; }

.block-content {
  position: absolute;
  bottom: 10%;
  left: 10%;
  padding: 0 1rem; }

.slider-top-right:before,
.inner-block:after {
  height: 4px;
  transition: width .75s ease;
  width: 0%; }

.slider-top-right:after,
.inner-block:before {
  height: 0%;
  transition: height .75s ease;
  width: 4px; }

.inner-block:before,
.inner-block:after,
.slider-top-right:before,
.slider-top-right:after {
  background-color: #fff;
  content: '';
  display: block;
  position: absolute; }

.inner-block {
  font-size: 2em;
  width: 90%;
  height: 90%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }
  .inner-block:before {
    bottom: 0;
    left: 0; }
  .inner-block:after {
    bottom: 0;
    right: 0; }

.slider-top-right {
  position: relative;
  width: 100%;
  height: 100%; }
  .slider-top-right:before {
    top: 0;
    left: 0; }
  .slider-top-right:after {
    top: 0;
    right: 0; }

.gum_cat_filter_list {
  display: inline-block;
  float: right; }

.heading {
  display: inline-block; }
  .heading h2 {
    color: #2fa4a9;
    font-size: 18px;
    font-weight: bold;
    font-family: "Oswald", sans-serif; }

.list-style-filter li {
  display: inline-block;
  margin: 0 10px; }
  .list-style-filter li a {
    color: gray;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    transition: 3s ease-in-out;
    font-family: "Oswald", sans-serif;
    padding: 0 5px 5px 0;
    letter-spacing: 1px; }
    .list-style-filter li a:hover {
      color: #2fa4a9;
      border-right: 1px solid;
      border-bottom: 2px solid;
      border-color: #2fa4a9; }

.heading-tabs-wrapper {
  margin: 40px 0;
  border-right: 1px solid;
  border-bottom: 2px solid;
  border-color: lightgray;
  padding: 0 8px 8px 0; }

.img-holder {
  position: relative; }

.cate-list {
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  text-align: center; }
  .cate-list ul li {
    display: inline-block; }
    .cate-list ul li a {
      color: white;
      background-color: black;
      padding: 3px 15px;
      text-decoration: none;
      transition: 0.3s ease-in-out; }

.box-style-3 {
  margin-top: 25px; }

.post-content {
  background-color: #f0f0f0;
  padding: 15px 15px;
  transition: 0.3s ease-in-out; }
  .post-content h4 {
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin: 10px 0; }
  .post-content .post-meta-content {
    text-align: center; }
    .post-content .post-meta-content ul {
      display: inline-block; }
    .post-content .post-meta-content li {
      color: gray;
      font-size: 10px; }
      .post-content .post-meta-content li a {
        color: black;
        font-size: 10px; }
        .post-content .post-meta-content li a span {
          color: black;
          font-size: 10px; }

.btn-holder {
  margin-top: 20px; }
  .btn-holder a {
    color: white;
    background-color: black;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 12px;
    transition: 0.3s ease-in-out; }

.style3-wrapper {
  position: relative; }
  .style3-wrapper .category-img-holder:hover img {
    box-shadow: 0px 0px 0px 0px white; }
  .style3-wrapper:hover .cate-list ul li a {
    color: black;
    background-color: white; }
  .style3-wrapper:hover .post-content {
    background-color: black; }
    .style3-wrapper:hover .post-content h4 {
      color: white; }
    .style3-wrapper:hover .post-content .post-meta-content li a {
      color: white;
      font-size: 10px; }
      .style3-wrapper:hover .post-content .post-meta-content li a span {
        color: white; }
  .style3-wrapper:hover .post-content .post-meta-content li {
    color: white;
    font-size: 10px; }
  .style3-wrapper:hover .btn-holder a {
    color: black;
    background-color: white;
    font-weight: bold; }
  .style3-wrapper:hover .inner-block:before,
  .style3-wrapper:hover .slider-top-right:after {
    height: 100%; }
  .style3-wrapper:hover .inner-block:after,
  .style3-wrapper:hover .slider-top-right:before {
    width: 100%; }
  .style3-wrapper img {
    display: block;
    max-width: 100%; }

.block-content {
  position: absolute;
  bottom: 10%;
  left: 10%;
  padding: 0 1rem; }

.slider-top-right:before,
.inner-block:after {
  height: 4px;
  transition: width .75s ease;
  width: 0%; }

.slider-top-right:after,
.inner-block:before {
  height: 0%;
  transition: height .75s ease;
  width: 4px; }

.inner-block:before,
.inner-block:after,
.slider-top-right:before,
.slider-top-right:after {
  background-color: #fff;
  content: '';
  display: block;
  position: absolute; }

.inner-block {
  font-size: 2em;
  width: 90%;
  height: 90%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }
  .inner-block:before {
    bottom: 0;
    left: 0; }
  .inner-block:after {
    bottom: 0;
    right: 0; }

.slider-top-right {
  position: relative;
  width: 100%;
  height: 100%; }
  .slider-top-right:before {
    top: 0;
    left: 0; }
  .slider-top-right:after {
    top: 0;
    right: 0; }

#full-stars-example-two {
  display: inline-block;
  /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
  /* make hover effect work properly in IE */
  /* hide radio inputs */
  /* hide 'none' input from screenreaders */
  /* set icon padding and size */
  /* set default star color */
  /* if any input is checked, make its following siblings grey */
  /* make all stars theme color on rating group hover */
  /* make hovered input's following siblings grey on hover */ }
  #full-stars-example-two .rating-group {
    display: inline-flex; }
  #full-stars-example-two .rating__icon {
    pointer-events: none; }
  #full-stars-example-two .rating__input {
    position: absolute !important;
    left: -9999px !important; }
  #full-stars-example-two .rating__input--none {
    display: none; }
  #full-stars-example-two .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 12px; }
  #full-stars-example-two .rating__icon--star {
    color: #2fa4a9; }
  #full-stars-example-two .rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd; }
  #full-stars-example-two .rating-group:hover .rating__label .rating__icon--star {
    color: #2fa4a9; }
  #full-stars-example-two .rating__input:hover ~ .rating__label .rating__icon--star {
    color: #ddd; }

#full-stars-example {
  display: inline-block;
  /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
  /* make hover effect work properly in IE */
  /* hide radio inputs */
  /* set icon padding and size */
  /* set default star color */
  /* set color of none icon when unchecked */
  /* if none icon is checked, make it red */
  /* if any input is checked, make its following siblings grey */
  /* make all stars orange on rating group hover */
  /* make hovered input's following siblings grey on hover */
  /* make none icon grey on rating group hover */
  /* make none icon red on hover */ }
  #full-stars-example .rating-group {
    display: inline-flex; }
  #full-stars-example .rating__icon {
    pointer-events: none; }
  #full-stars-example .rating__input {
    position: absolute !important;
    left: -9999px !important; }
  #full-stars-example .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 12px; }
  #full-stars-example .rating__icon--star {
    color: #2fa4a9; }
  #full-stars-example .rating__icon--none {
    color: #eee; }
  #full-stars-example .rating__input--none:checked + .rating__label .rating__icon--none {
    color: #2fa4a9; }
  #full-stars-example .rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd; }
  #full-stars-example .rating-group:hover .rating__label .rating__icon--star {
    color: #2fa4a9; }
  #full-stars-example .rating__input:hover ~ .rating__label .rating__icon--star {
    color: #ddd; }
  #full-stars-example .rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
    color: #eee; }
  #full-stars-example .rating__input--none:hover + .rating__label .rating__icon--none {
    color: red; }

fieldset,
label {
  margin: 0;
  padding: 0; }

/****** Style Star Rating Widget *****/
.rating {
  border: none;
  float: left; }

.rating > input {
  display: none; }

.rating > label:before {
  margin: 0 5px;
  font-size: 12px;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005"; }

.rating > .half:before {
  content: "\f089";
  position: absolute; }

.rating > label {
  color: #ddd;
  float: right; }

/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #2fa4a9; }

/* hover previous stars in list */
.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #2fa4a9; }

.stars-rate {
  line-height: 20px; }

.pagination li {
  display: inline-block;
  margin: 0 10px; }
  .pagination li a {
    color: black;
    text-decoration: none;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    font-size: 20px;
    padding: 4px 10px 4px;
    transition: 0.3s ease-in-out; }
    .pagination li a:hover {
      background-color: black;
      color: white; }

.pagination-link {
  margin-top: 40px;
  text-align: center; }

.pagination {
  display: inline-block; }

.post-info {
  padding: 10px 20px 20px;
  transition: 0.3s ease-in-out; }
  .post-info:hover {
    background-color: #f0f0f0; }
  .post-info p {
    color: gray;
    font-size: 16px;
    text-align: justify;
    margin: 10px 0; }
  .post-info h4 {
    color: black;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    margin-bottom: 10px;
    transition: 0.3s ease-in-out; }
    .post-info h4:hover {
      color: #2fa4a9; }
  .post-info ul {
    display: inline-block; }
    .post-info ul li {
      display: inline-block;
      margin: 0px 10px; }
      .post-info ul li a {
        color: black;
        font-size: 12px;
        text-decoration: none; }
    .post-info ul .author {
      margin-left: 0 !important; }
  .post-info .date {
    color: black;
    font-size: 12px; }
  .post-info .post-meta-content {
    display: inline-block; }
    .post-info .post-meta-content ul li {
      color: black;
      margin: 0; }
  .post-info .post-meta-content ul li::after {
    content: ''; }
  .post-info .btn-holder {
    display: inline-block;
    margin-right: 15px; }
    .post-info .btn-holder a {
      transition: 0.3s ease-in-out;
      border: 1px solid black; }
      .post-info .btn-holder a:hover {
        background-color: white;
        color: black; }

.rating-stars-wrapper {
  display: inline-block; }
  .rating-stars-wrapper ul li {
    display: inline-block;
    margin: 0 2px; }
    .rating-stars-wrapper ul li i {
      color: #2fa4a9;
      font-size: 12px; }

.media-text-wrapper .category-img-holder {
  overflow: hidden; }

.media-text-wrapper:hover .post-info {
  background-color: #f0f0f0; }

.media-text-wrapper:hover h4 {
  color: #2fa4a9; }

.media-text-wrapper:hover .btn-holder a {
  background-color: #2fa4a9;
  color: white;
  border-color: #2fa4a9; }

.media-text-wrapper:hover img {
  transform: scale(1.2); }

.media-text-wrapper:hover .inner-block:before,
.media-text-wrapper:hover .slider-top-right:after {
  height: 100%; }

.media-text-wrapper:hover .inner-block:after,
.media-text-wrapper:hover .slider-top-right:before {
  width: 100%; }

.media-text-wrapper img {
  display: block;
  max-width: 100%; }

.block-content {
  position: absolute;
  bottom: 10%;
  left: 10%;
  padding: 0 1rem; }

.slider-top-right:before,
.inner-block:after {
  height: 4px;
  transition: width .75s ease;
  width: 0%; }

.slider-top-right:after,
.inner-block:before {
  height: 0%;
  transition: height .75s ease;
  width: 4px; }

.inner-block:before,
.inner-block:after,
.slider-top-right:before,
.slider-top-right:after {
  background-color: #fff;
  content: '';
  display: block;
  position: absolute; }

.inner-block {
  font-size: 2em;
  width: 90%;
  height: 90%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }
  .inner-block:before {
    bottom: 0;
    left: 0; }
  .inner-block:after {
    bottom: 0;
    right: 0; }

.slider-top-right {
  position: relative;
  width: 100%;
  height: 100%; }
  .slider-top-right:before {
    top: 0;
    left: 0; }
  .slider-top-right:after {
    top: 0;
    right: 0; }

.text-align-right {
  margin: 40px 0; }
  .text-align-right .post-info {
    text-align: right; }

.load-more-wrapper {
  margin: 40px 0 10px;
  text-align: center; }
  .load-more-wrapper a {
    color: black;
    font-size: 14px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    font-weight: bold; }
    .load-more-wrapper a i {
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      padding: 5px 12px 7px;
      margin-right: 11px;
      color: black; }
    .load-more-wrapper a:hover {
      color: #2fa4a9; }
      .load-more-wrapper a:hover i {
        color: #2fa4a9;
        border-color: #2fa4a9; }

.img-holder-text {
  position: relative;
  text-align: center;
  overflow: hidden; }
  .img-holder-text .rating-stars-wrapper ul li i {
    color: white; }
  .img-holder-text .author a span {
    font-size: 10px;
    color: white; }
  .img-holder-text img {
    width: 100%;
    height: auto; }
  .img-holder-text .cate-list {
    left: 0;
    top: 0; }
  .img-holder-text .post-meta-content {
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
    transition: ease; }
    .img-holder-text .post-meta-content h4 {
      font-size: 18px;
      font-weight: bold;
      font-family: "Playfair Display", serif;
      margin-bottom: 10px;
      padding: 0 35px; }
    .img-holder-text .post-meta-content ul {
      margin-bottom: 10px;
      display: inline-block; }
      .img-holder-text .post-meta-content ul li {
        font-size: 10px;
        margin: 0; }
        .img-holder-text .post-meta-content ul li::after {
          content: ''; }
  .img-holder-text .img-wraper::before {
    content: '';
    background: rgba(0, 0, 0, 0.4);
    height: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s ease; }
  .img-holder-text:hover .img-wraper::before {
    opacity: 1;
    height: 100%; }
  .img-holder-text:hover .detail-wraper {
    opacity: 1;
    height: 100%; }
  .img-holder-text:hover .category-list ul li a {
    background-color: #2fa4a9;
    color: white; }

.category-list {
  position: absolute;
  top: 15px;
  left: 15px; }
  .category-list ul li a {
    font-size: 14px;
    color: black;
    background-color: white;
    border-color: black;
    padding: 4px 12px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease-in-out; }

.btn-imgover a {
  padding: 4px 5px;
  color: black;
  background-color: white;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  font-size: 14px; }
  .btn-imgover a:hover {
    background-color: #2fa4a9;
    color: white; }

.text-area {
  background-color: #f0f0f0; }

.post-text-wrap .post-info p {
  font-size: 14px; }

.post-text-wrap .post-info .btn-holder {
  display: block;
  margin-bottom: 20px; }

.post-text-wrap .post-info ul li {
  margin: 0px 6px;
  font-size: 12px; }

.post-text-wrap .rating-stars-wrapper i {
  color: #2fa4a9; }

.post-text-wrap .post-info .cateory-btn {
  margin: 10px 0; }
  .post-text-wrap .post-info .cateory-btn li a {
    text-decoration: none;
    color: white;
    background-color: #2fa4a9;
    font-size: 12px;
    padding: 5px 10px;
    transition: 0.3s ease-in-out; }
    .post-text-wrap .post-info .cateory-btn li a:hover {
      background-color: #17959a; }

.instagram-images {
  display: flex;
  position: relative; }

.insta-wrapper {
  margin-top: 40px;
  position: relative; }

.insta-follow-btn {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 44%; }
  .insta-follow-btn a {
    color: black;
    background-color: white;
    text-decoration: none;
    padding: 12px 40px;
    font-size: 13px;
    transition: 0.3s ease-in-out; }
    .insta-follow-btn a i {
      margin-right: 6px; }
    .insta-follow-btn a:hover {
      background-color: #2fa4a9;
      color: white; }

.footer-area-wrapper {
  background-color: #262829;
  padding-top: 40px; }

.footer-content p {
  font-size: 15px;
  color: gray;
  margin-top: 20px; }

.navigation h5 {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase; }

.navigation .navigation-content {
  margin-top: 24px; }
  .navigation .navigation-content ul {
    margin-top: 40px; }
    .navigation .navigation-content ul li a {
      font-size: 12px;
      text-decoration: none;
      color: gray; }

.navigation .navigation-link {
  display: flex;
  justify-content: space-between; }

.service-links {
  margin-right: 85px; }

.footer-subscribe {
  margin-top: 24px; }
  .footer-subscribe h5 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase; }
  .footer-subscribe p {
    color: gray;
    font-size: 15px;
    margin-top: 20px; }

.subscribe-input {
  margin-top: 30px; }

input[type=submit] {
  background-color: #2fa4a9;
  border-radius: 20px;
  padding: 10px 20px;
  border: 0;
  font-size: 12px;
  color: black;
  font-weight: bold;
  border: 0;
  position: absolute;
  right: 20%; }
  input[type=submit]:focus {
    border: 0;
    outline: 0; }

.search-field {
  background-color: lightgray;
  color: gray;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 12px;
  border: 0;
  width: 70%; }
  .search-field:focus {
    border: 0;
    outline: 0; }
    .search-field:focus::-webkit-input-placeholder {
      color: transparent; }
    .search-field:focus::-moz-placeholder {
      color: transparent; }
    .search-field:focus:-ms-input-placeholder {
      color: transparent; }
    .search-field:focus::-ms-input-placeholder {
      color: transparent; }
    .search-field:focus::placeholder {
      color: transparent; }

.copyright-section {
  border-top: 1px solid gray;
  padding: 25px 0;
  margin-top: 80px; }

.copyright-content {
  display: flex;
  justify-content: space-between; }
  .copyright-content p {
    color: gray;
    font-size: 15px; }
  .copyright-content ul {
    list-style: none;
    display: inline-block; }
    .copyright-content ul li {
      display: inline-block;
      margin: 0 10px; }
      .copyright-content ul li a {
        font-size: 14px;
        text-decoration: none; }
  .copyright-content .fb-link a {
    color: #2e4163; }
  .copyright-content .twitter-link a {
    color: #185c6a; }
  .copyright-content .insta-link a {
    color: #757063; }
  .copyright-content .linked-link a {
    color: #1f526d; }
  .copyright-content .google-link a {
    color: #902a27; }

.img-about {
  text-align: center; }
  .img-about img {
    border-radius: 50%; }

.about-wrapper {
  margin-top: 30px; }

.about-info {
  margin-top: 30px;
  text-align: center; }
  .about-info p {
    font-size: 12px;
    color: gray; }
  .about-info ul {
    margin: 30px 0; }
    .about-info ul li {
      display: inline-block;
      margin: 0 4px; }
      .about-info ul li a {
        color: black;
        text-decoration: none;
        border-radius: 50%;
        padding: 8px 12px;
        background-color: #e7e7e7;
        font-size: 14px; }

/*# sourceMappingURL=style.css.map */
